<h1>Welcome to number2</h1>

<div id="myCarousel" class="carousel slide">
	<div class="carousel-inner">
		<div class="item active">
			<img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-ash4/424127_10151305525875371_1027870076_n.jpg" alt=" ">
			<div class="container">
				<div class="carousel-caption">
					<h1>Whether traveling on the Trans-Siberian...</h1>
					<p class="lead"> (somewhere in Russia) </p>
					<a class="btn btn-large btn-primary" href="#">Sign up today</a>
				</div>
			</div>
		</div>
	<div class="item">
		<img src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-ash4/418976_10151203075600371_1437466225_n.jpg" alt=" ">
		<div class="container">
			<div class="carousel-caption">
				<h1>Or throught the Mongolian countryside...</h1>
				<p class="lead">(somewhere in Mongolia)</p>
				<a class="btn btn-large btn-primary" hred="#">Learn more</a>
			</div>
		</div>
	</div>
	<div class="item">
		<img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-ash3/575815_10151507129920371_1248518587_n.jpg" alt=" ">
		<div class="container">
			<div class="carousel-caption">
				<h1>Keep track of where you're going.</h1>
				<p class="lead">(it just might be home...).</p>
				<a class="btn btn-large btn-primary" href="#">Browse gallery</a>
			</div>
		</div>
	</div>
</div>
<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>			
